hidden=[".config"]
modules = ["nodejs-20", "web", "python-3.11", "nix"]
run = "chrome index.html"

[nix]
channel = "stable-24_05"

[deployment]
publicDir = "/"
deploymentTarget = "static"
run = ["sh", "-c", "chrome index.html"]
