hidden = [".config"]
modules = ["nodejs-20", "web", "python-3.11", "nix"]
run = "chrome index.html"

[nix]
channel = "stable-24_05"

[deployment]
publicDir = "/"
deploymentTarget = "static"
run = ["sh", "-c", "chromium index.html"]

[workflows]
runButton = "Laravel Server"

[[workflows.workflow]]
name = "Run Server"
author = 40045856
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 3000 --bind 0.0.0.0"

[[workflows.workflow]]
name = "Laravel Server"
author = 40045856
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php artisan serve --host=0.0.0.0 --port=8000"

[[ports]]
localPort = 3000
externalPort = 80
